In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib
import re

In [3]:
# Read in data jobs csv files
al = pd.read_csv("Indeed_job_results_Analytics_2019-01-09.csv")
bi = pd.read_csv("Indeed_job_results_Business_Intelligence_Analyst_2019-01-09.csv")
da = pd.read_csv("Indeed_job_results_Data_Analyst_2019-01-09.csv")
de = pd.read_csv("Indeed_job_results_Data_Engineer_2019-01-09.csv")
ds = pd.read_csv("Indeed_job_results_Data_Scientist_2019-01-09.csv")
st = pd.read_csv("Indeed_job_results_Statistician_2019-01-09.csv")

# Concatenate data job files into a single dataframe
data_jobs = pd.concat([al, bi, da, de, ds, st])

# Create a column for job categories and iterate through dataset to categorize each job title

data_jobs["Job Category"] = ""
for i, row in data_jobs.iterrows():
    if re.search("Analytics", row["Title"].title()) or re.search("Analytic", row["Title"].title()):
        row["Job Category"] = "Analytics"
    elif re.search("Data", row["Title"].title()) and re.search("Analyst", row["Title"].title()):
        row["Job Category"] = "Data Analyst"
    elif re.search("Data", row["Title"].title()) and re.search("Scientist", row["Title"].title()):
        row["Job Category"] = "Data Scientist"
    elif re.search("Data", row["Title"].title()) and re.search("Engineer", row["Title"].title()):
        row["Job Category"] = "Data Engineer"
    elif re.search("Business", row["Title"].title()) and re.search("Intelligence", row["Title"].title()):   
        row["Job Category"] = "Business Intelligence Analyst"
    elif re.search("Intern", row["Title"].title()) or re.search("Internship", row["Title"].title()):
        row["Job Category"] = "Internship"
    elif re.search("Business", row["Title"].title()) and re.search("Analyst", row["Title"].title()):   
        row["Job Category"] = "Business Analyst"
    elif re.search("Developer", row["Title"].title()):   
        row["Job Category"] = "Developer"
    elif "Statistician" in row["Title"].title():
        row["Job Category"] = "Statistician"
    elif re.search("Manager", row["Title"].title()) or \
    re.search("Director", row["Title"].title()) or \
    re.search("Dir", row["Title"].title()) or \
    re.search("Lead", row["Title"].title()) or \
    re.search("Head", row["Title"].title()):
        row["Job Category"] = "Management"
    elif re.search("Research", row["Title"].title()):
        row["Job Category"] = "Research"
    else:
        row["Job Category"] = "Other"

# Pare dataframe down to relevant columns and rename columns

# Split Regions, MSAs, and Locations into cities
data_jobs["City"] = ""
data_jobs["State"] = ""
data_jobs["Location"].value_counts()
data_jobs[["City", "State"]] = data_jobs["Location"].str.split(",", n=1, expand=True)
data_jobs["State"] = data_jobs["State"].str.strip()
data_jobs[["State", "ZIP"]] = data_jobs["State"].str.split(" ", n=1, expand=True)
data_jobs["ZIP"] = data_jobs["ZIP"].str.strip()
data_jobs[["ZIP", "Area"]] = data_jobs["ZIP"].str.split(" ", n=1, expand=True)

# Finalize clean jobs dataframes
# data_jobs

In [91]:
# Read in rent csv file
rent = pd.read_csv("City_MedianRentalPrice_1Bedroom.csv")

# Pare the dataframe down to relevant columns and rename them if necessary
rent_columns = ["RegionName", "State", "Metro", "CountyName", "SizeRank", "2018-11"]
rent = rent[rent_columns]
rent.rename(columns = {"RegionName" : "City", "CountyName" : "County"}, inplace = True)

# Split Metro into city columns
rent["City1"] = ""
rent["City2"] = ""
rent["City3"] = ""
rent[["City1", "City2", "City3"]] = rent["Metro"].str.split("-", n=2, expand = True)

# Finalize clean rent file
# rent

,City,State,Metro,County,SizeRank,2018-11,City1,City2,City3
0,New York,NY,New York-Newark-Jersey City,Queens County,1,2350.0,New York,Newark,Jersey City
1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,2375.0,Los Angeles,Long Beach,Anaheim
2,Chicago,IL,Chicago-Naperville-Elgin,Cook County,3,1600.0,Chicago,Naperville,Elgin
3,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1281.0,Houston,The Woodlands,Sugar Land
4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,962.0,San Antonio,New Braunfels,None
5,Philadelphia,PA,Philadelphia-Camden-Wilmington,Philadelphia County,6,1550.0,Philadelphia,Camden,Wilmington
6,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,7,1048.5,Phoenix,Mesa,Scottsdale
7,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,8,1006.5,Las Vegas,Henderson,Paradise
8,San Diego,CA,San Diego-Carlsbad,San Diego County,9,2060.0,San Diego,Carlsbad,None
9,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,10,1371.0,Dallas,Fort Worth,Arlington
10,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,11,2515.0,San Jose,Sunnyvale,Santa Clara
11,Austin,TX,Austin-Round Rock,Travis County,12,1236.0,Austin,Round Rock,None
12,Jacksonville,FL,Jacksonville,Duval County,13,1219.0,Jacksonville,None,None
13,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,3474.0,San Francisco,Oakland,Hayward
14,Indianapolis,IN,Indianapolis-Carmel-Anderson,Marion County,15,810.0,Indianapolis,Carmel,Anderson
15,Charlotte,NC,Charlotte-Concord-Gastonia,Mecklenburg County,16,1329.0,Charlotte,Concord,Gastonia
16,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,17,1345.0,Dallas,Fort Worth,Arlington
17,Columbus,OH,Columbus,Franklin County,18,865.0,Columbus,None,None
18,Tucson,AZ,Tucson,Pima County,19,625.0,Tucson,None,None
19,Louisville,KY,Louisville/Jefferson County,Jefferson County,20,854.0,Louisville/Jefferson County,None,None
20,El Paso,TX,El Paso,El Paso County,21,700.0,El Paso,None,None
21,Orlando,FL,Orlando-Kissimmee-Sanford,Orange County,22,1325.0,Orlando,Kissimmee,Sanford
22,Denver,CO,Denver-Aurora-Lakewood,Denver County,23,1600.0,Denver,Aurora,Lakewood
23,Seattle,WA,Seattle-Tacoma-Bellevue,King County,24,2040.0,Seattle,Tacoma,Bellevue
24,Memphis,TN,Memphis,Shelby County,25,759.0,Memphis,None,None
25,Boston,MA,Boston-Cambridge-Newton,Suffolk County,26,2350.0,Boston,Cambridge,Newton
26,Washington,DC,Washington-Arlington-Alexandria,District of Columbia,27,2287.0,Washington,Arlington,Alexandria
27,Nashville,TN,Nashville-Davidson--Murfreesboro--Franklin,Davidson County,28,1525.0,Nashville,Davidson,-Murfreesboro--Franklin
28,Portland,OR,Portland-Vancouver-Hillsboro,Multnomah County,29,1586.5,Portland,Vancouver,Hillsboro
29,Sacramento,CA,Sacramento--Roseville--Arden-Arcade,Sacramento County,30,1325.0,Sacramento,,Roseville--Arden-Arcade
...,...,...,...,...,...,...,...,...,...
619,Hanover,MD,Baltimore-Columbia-Towson,Anne Arundel County,620,1648.0,Baltimore,Columbia,Towson
620,Cohoes,NY,Albany-Schenectady-Troy,Albany County,621,1300.0,Albany,Schenectady,Troy
621,Prosper,TX,Dallas-Fort Worth-Arlington,Collin County,622,1111.0,Dallas,Fort Worth,Arlington
622,Maitland,FL,Orlando-Kissimmee-Sanford,Orange County,623,1460.0,Orlando,Kissimmee,Sanford
623,Greenwood Village,CO,Denver-Aurora-Lakewood,Arapahoe County,624,1552.0,Denver,Aurora,Lakewood
624,Destin,FL,Crestview-Fort Walton Beach-Destin,Okaloosa County,625,1429.0,Crestview,Fort Walton Beach,Destin
625,Addison,TX,Dallas-Fort Worth-Arlington,Dallas County,626,1273.5,Dallas,Fort Worth,Arlington
626,Forest Park,IL,Chicago-Naperville-Elgin,Cook County,627,1050.0,Chicago,Naperville,Elgin
627,Weehawken,NJ,New York-Newark-Jersey City,Hudson County,628,2600.0,New York,Newark,Jersey City
628,Druid Hills,GA,Atlanta-Sandy Springs-Roswell,Dekalb County,629,1393.0,Atlanta,Sandy Springs,Roswell
629,Lone Tree,CO,Denver-Aurora-Lakewood,Douglas County,630,1430.0,Denver,Aurora,Lakewood
630,Willowbrook,IL,Chicago-Naperville-Elgin,DuPage County,631,1250.0,Chicago,Naperville,Elgin
631,Wilton Manors,FL,Miami-Fort Lauderdale-West Palm Beach,Broward County,632,1200.0,Miami,Fort Lauderdale,West Palm Beach
632,Guttenberg,NJ,New York-Newark-Jersey City,Hudson County,633,1885.0,New York,Newark,Jersey City
633,Edgewater,NJ,New York-Newark-Jersey City,Bergen County,634,2492.5,New York,Newark,Jersey City
634,Eatontown,NJ,New York-Newark-Jersey City,Monmouth County,635,1300.0,New York,Newark,Jersey City
635,Conshohocken,PA,Philadelphia-Camden-Wilmington,Montgomery County,636,1522.0,Philadelphia,Camden,Wilmington
636,Saint Robert,MO,Fort Leonard Wood,Pulaski County,637,560.0,Fort Leonard Wood,None,None
637,Largo,MD,Washington-Arlington-Alexandria,Prince Georges County,638,1390.0,Washington,Arlington,Alexandria
638,Emeryville,CA,San Francisco-Oakland-Hayward,Alameda County,639,2750.0,San Francisco,Oakland,Hayward
639,Huntington,VA,Washington-Arlington-Alexandria,Fairfax County,640,1553.0,Washington,Arlington,Alexandria
640,Marina del Rey,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,641,3068.0,Los Angeles,Long Beach,Anaheim
641,Dumbarton,VA,Richmond,Henrico County,642,959.0,Richmond,None,None
642,Chamblee,GA,Atlanta-Sandy Springs-Roswell,Dekalb County,643,1381.0,Atlanta,Sandy Springs,Roswell
643,Fort Belvoir,VA,Washington-Arlington-Alexandria,Fairfax County,644,1900.0,Washington,Arlington,Alexandria
644,North Bay Village,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,645,1712.5,Miami,Fort Lauderdale,West Palm Beach
645,Century Village,FL,Miami-Fort Lauderdale-West Palm Beach,Palm Beach County,646,875.0,Miami,Fort Lauderdale,West Palm Beach
646,Surfside,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,647,1800.0,Miami,Fort Lauderdale,West Palm Beach
647,Bay Harbor Islands,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,648,1550.0,Miami,Fort Lauderdale,West Palm Beach
648,Bal Harbour,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,649,2700.0,Miami,Fort Lauderdale,West Palm Beach

In [98]:
# Read in salary csv file
salary = pd.read_csv("MSA_M2017_dl.csv")

# Pare the dataframe down to relevant columns and rename them if necessary
salary_columns = ["PRIM_STATE", "AREA_NAME", "OCC_TITLE", "TOT_EMP", "EMP_PRSE", "JOBS_1000", "H_MEDIAN", "A_MEDIAN"]
salary = salary[salary_columns]
salary.rename(columns = {"PRIM_STATE" : "State", 
                         "AREA_NAME" : "Area", 
                         "OCC_TITLE" : "Occupation", 
                         "TOT_EMP" : "Estimated Total Employment", 
                         "EMP_PRSE" : "Employment Percent RSE",
                         "JOBS_1000" : "Occupation per 1000", 
                         "H_MEDIAN" : "Hourly Median Wage", 
                         "A_MEDIAN" : "Annual Median Salary"}, inplace = True)
salary = salary.loc[salary["Occupation"] == "All Occupations"]
salary["City1"] = ""
salary["State2"] = ""
salary[["City1", "State2"]] = salary["Area"].str.split(",", expand = True)
salary["City1"] = salary["City1"].str.strip()
salary
# salary[["City2", "City3"]] = salary["City1"].str.split("-")
# salary[["City1", "City2", "City3"]]

,State,Area,Occupation,Estimated Total Employment,Employment Percent RSE,Occupation per 1000,Hourly Median Wage,Annual Median Salary,City1,State2
0,AK,"Anchorage, AK",All Occupations,"173,420",1.3,1000.000,22.76,"47,340",Anchorage,AK
463,AK,"Fairbanks, AK",All Occupations,"36,650",2.7,1000.000,23.15,"48,150",Fairbanks,AK
685,AL,"Anniston-Oxford-Jacksonville, AL",All Occupations,"43,110",2.2,1000.000,14.79,"30,760",Anniston-Oxford-Jacksonville,AL
904,AL,"Auburn-Opelika, AL",All Occupations,"56,410",1.8,1000.000,14.13,"29,400",Auburn-Opelika,AL
1123,AL,"Birmingham-Hoover, AL",All Occupations,"504,290",0.6,1000.000,17.41,"36,220",Birmingham-Hoover,AL
1671,AL,"Daphne-Fairhope-Foley, AL",All Occupations,"71,190",1.8,1000.000,13.57,"28,230",Daphne-Fairhope-Foley,AL
1938,AL,"Decatur, AL",All Occupations,"52,310",2.0,1000.000,15.09,"31,380",Decatur,AL
2173,AL,"Dothan, AL",All Occupations,"56,400",1.4,1000.000,14.10,"29,320",Dothan,AL
2411,AL,"Florence-Muscle Shoals, AL",All Occupations,"53,450",2.9,1000.000,14.36,"29,870",Florence-Muscle Shoals,AL
2651,AL,"Gadsden, AL",All Occupations,"35,630",3.6,1000.000,12.87,"26,760",Gadsden,AL
2817,AL,"Huntsville, AL",All Occupations,"222,080",1.3,1000.000,18.62,"38,720",Huntsville,AL
3237,AL,"Mobile, AL",All Occupations,"172,750",1.3,1000.000,16.67,"34,680",Mobile,AL
3647,AL,"Montgomery, AL",All Occupations,"164,610",1.8,1000.000,15.66,"32,560",Montgomery,AL
4057,AL,"Tuscaloosa, AL",All Occupations,"100,100",1.7,1000.000,15.74,"32,740",Tuscaloosa,AL
4393,AR,"Fayetteville-Springdale-Rogers, AR-MO",All Occupations,"239,920",2.5,1000.000,16.11,"33,510",Fayetteville-Springdale-Rogers,AR-MO
4840,AR,"Fort Smith, AR-OK",All Occupations,"107,840",2.7,1000.000,13.64,"28,360",Fort Smith,AR-OK
5188,AR,"Hot Springs, AR",All Occupations,"35,400",3.4,1000.000,12.94,"26,910",Hot Springs,AR
5381,AR,"Jonesboro, AR",All Occupations,"54,890",3.1,1000.000,13.88,"28,870",Jonesboro,AR
5639,AR,"Little Rock-North Little Rock-Conway, AR",All Occupations,"347,590",1.1,1000.000,16.38,"34,070",Little Rock-North Little Rock-Conway,AR
6166,AR,"Pine Bluff, AR",All Occupations,"30,960",2.3,1000.000,14.87,"30,920",Pine Bluff,AR
6328,AZ,"Flagstaff, AZ",All Occupations,"60,810",4.6,1000.000,15.61,"32,470",Flagstaff,AZ
6603,AZ,"Lake Havasu City-Kingman, AZ",All Occupations,"47,430",2.2,1000.000,14.40,"29,950",Lake Havasu City-Kingman,AZ
6843,AZ,"Phoenix-Mesa-Scottsdale, AZ",All Occupations,"1,980,010",0.6,1000.000,17.92,"37,280",Phoenix-Mesa-Scottsdale,AZ
7528,AZ,"Prescott, AZ",All Occupations,"61,560",3.4,1000.000,15.63,"32,500",Prescott,AZ
7821,AZ,"Sierra Vista-Douglas, AZ",All Occupations,"32,000",2.6,1000.000,17.56,"36,520",Sierra Vista-Douglas,AZ
8035,AZ,"Tucson, AZ",All Occupations,"364,930",1.4,1000.000,16.66,"34,650",Tucson,AZ
8556,AZ,"Yuma, AZ",All Occupations,"60,430",3.2,1000.000,13.79,"28,690",Yuma,AZ
8813,CA,"Anaheim-Santa Ana-Irvine, CA Metropolitan Divi...",All Occupations,"1,616,210",0.4,1000.000,19.39,"40,340",Anaheim-Santa Ana-Irvine,CA Metropolitan Division
9462,CA,"Bakersfield, CA",All Occupations,"303,620",1.0,1000.000,16.32,"33,940",Bakersfield,CA
9944,CA,"Chico, CA",All Occupations,"80,110",4.8,1000.000,16.36,"34,020",Chico,CA
...,...,...,...,...,...,...,...,...,...,...
146725,WA,"Longview, WA",All Occupations,"37,100",4.7,1000.000,18.70,"38,890",Longview,WA
146926,WA,"Mount Vernon-Anacortes, WA",All Occupations,"46,650",2.5,1000.000,18.90,"39,310",Mount Vernon-Anacortes,WA
147183,WA,"Olympia-Tumwater, WA",All Occupations,"109,400",2.7,1000.000,20.74,"43,140",Olympia-Tumwater,WA
147528,WA,"Seattle-Bellevue-Everett, WA Metropolitan Divi...",All Occupations,"1,647,350",1.3,1000.000,24.30,"50,550",Seattle-Bellevue-Everett,WA Metropolitan Division
148233,WA,"Spokane-Spokane Valley, WA",All Occupations,"232,920",2.4,1000.000,18.03,"37,500",Spokane-Spokane Valley,WA
148716,WA,"Tacoma-Lakewood, WA Metropolitan Division",All Occupations,"296,810",1.1,1000.000,19.79,"41,150",Tacoma-Lakewood,WA Metropolitan Division
149206,WA,"Walla Walla, WA",All Occupations,"25,260",5.2,1000.000,18.65,"38,780",Walla Walla,WA
149382,WA,"Wenatchee, WA",All Occupations,"45,710",2.7,1000.000,16.77,"34,890",Wenatchee,WA
149612,WA,"Yakima, WA",All Occupations,"89,640",2.7,1000.000,16.75,"34,850",Yakima,WA
149934,WI,"Appleton, WI",All Occupations,"123,460",2.2,1000.000,17.86,"37,160",Appleton,WI
150303,WI,"Eau Claire, WI",All Occupations,"81,980",2.6,1000.000,16.64,"34,610",Eau Claire,WI
150628,WI,"Fond du Lac, WI",All Occupations,"45,600",5.9,1000.000,18.32,"38,110",Fond du Lac,WI
150860,WI,"Green Bay, WI",All Occupations,"173,030",2.3,1000.000,17.66,"36,740",Green Bay,WI
151291,WI,"Janesville-Beloit, WI",All Occupations,"64,560",2.8,1000.000,16.98,"35,310",Janesville-Beloit,WI
151581,WI,"La Crosse-Onalaska, WI-MN",All Occupations,"73,800",2.0,1000.000,17.05,"35,460",La Crosse-Onalaska,WI-MN
151876,WI,"Madison, WI",All Occupations,"387,300",2.3,1000.000,20.03,"41,670",Madison,WI
152428,WI,"Milwaukee-Waukesha-West Allis, WI",All Occupations,"841,550",0.6,1000.000,18.59,"38,670",Milwaukee-Waukesha-West Allis,WI
153050,WI,"Oshkosh-Neenah, WI",All Occupations,"95,240",2.6,1000.000,18.33,"38,140",Oshkosh-Neenah,WI
153372,WI,"Racine, WI",All Occupations,"74,850",2.2,1000.000,16.67,"34,670",Racine,WI
153647,WI,"Sheboygan, WI",All Occupations,"57,980",3.5,1000.000,18.53,"38,550",Sheboygan,WI
153905,WI,"Wausau, WI",All Occupations,"70,020",4.1,1000.000,17.54,"36,480",Wausau,WI
154194,WV,"Beckley, WV",All Occupations,"42,670",2.8,1000.000,14.02,"29,150",Beckley,WV
154400,WV,"Charleston, WV",All Occupations,"111,090",1.6,1000.000,16.29,"33,880",Charleston,WV
154771,WV,"Huntington-Ashland, WV-KY-OH",All Occupations,"130,770",3.0,1000.000,15.26,"31,740",Huntington-Ashland,WV-KY-OH
155166,WV,"Morgantown, WV",All Occupations,"64,520",1.7,1000.000,17.54,"36,490",Morgantown,WV
155434,WV,"Parkersburg-Vienna, WV",All Occupations,"37,160",4.1,1000.000,14.30,"29,750",Parkersburg-Vienna,WV
155624,WV,"Weirton-Steubenville, WV-OH",All Occupations,"37,250",4.6,1000.000,14.32,"29,780",Weirton-Steubenville,WV-OH
155837,WV,"Wheeling, WV-OH",All Occupations,"61,310",2.9,1000.000,14.73,"30,640",Wheeling,WV-OH
156122,WY,"Casper, WY",All Occupations,"37,590",1.3,1000.000,18.93,"39,380",Casper,WY
156334,WY,"Cheyenne, WY",All Occupations,"45,310",1.4,1000.000,18.46,"38,390",Cheyenne,WY

In [6]:
# Read in crime csv file