In [22]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib
import re

In [44]:
# Read in data jobs csv files
al = pd.read_csv("Indeed_job_results_Analytics_2019-01-09.csv")
bi = pd.read_csv("Indeed_job_results_Business_Intelligence_Analyst_2019-01-09.csv")
da = pd.read_csv("Indeed_job_results_Data_Analyst_2019-01-09.csv")
de = pd.read_csv("Indeed_job_results_Data_Engineer_2019-01-09.csv")
ds = pd.read_csv("Indeed_job_results_Data_Scientist_2019-01-09.csv")
st = pd.read_csv("Indeed_job_results_Statistician_2019-01-09.csv")

# Concatenate data job files into a single dataframe
data_jobs = pd.concat([al, bi, da, de, ds, st])

# Create a column for job categories and iterate through dataset to categorize each job title

data_jobs["Job Category"] = ""
for i, row in data_jobs.iterrows():
    if re.search("Analytics", row["Title"].title()) or re.search("Analytic", row["Title"].title()):
        row["Job Category"] = "Analytics"
    elif re.search("Data", row["Title"].title()) and re.search("Analyst", row["Title"].title()):
        row["Job Category"] = "Data Analyst"
    elif re.search("Data", row["Title"].title()) and re.search("Scientist", row["Title"].title()):
        row["Job Category"] = "Data Scientist"
    elif re.search("Data", row["Title"].title()) and re.search("Engineer", row["Title"].title()):
        row["Job Category"] = "Data Engineer"
    elif re.search("Business", row["Title"].title()) and re.search("Intelligence", row["Title"].title()):   
        row["Job Category"] = "Business Intelligence Analyst"
    elif re.search("Intern", row["Title"].title()) or re.search("Internship", row["Title"].title()):
        row["Job Category"] = "Internship"
    elif re.search("Business", row["Title"].title()) and re.search("Analyst", row["Title"].title()):   
        row["Job Category"] = "Business Analyst"
    elif re.search("Developer", row["Title"].title()):   
        row["Job Category"] = "Developer"
    elif "Statistician" in row["Title"].title():
        row["Job Category"] = "Statistician"
    elif re.search("Manager", row["Title"].title()) or \
    re.search("Director", row["Title"].title()) or \
    re.search("Dir", row["Title"].title()) or \
    re.search("Lead", row["Title"].title()) or \
    re.search("Head", row["Title"].title()):
        row["Job Category"] = "Management"
    elif re.search("Research", row["Title"].title()):
        row["Job Category"] = "Research"
    else:
        row["Job Category"] = "Other"

# Pare dataframe down to relevant columns and rename columns

# Split Regions, MSAs, and Locations into cities
data_jobs["City"] = ""
data_jobs["State"] = ""
data_jobs["Location"].value_counts()
data_jobs[["City", "State"]] = data_jobs["Location"].str.split(",", n=1, expand=True)
data_jobs["State"] = data_jobs["State"].str.strip()
data_jobs[["State", "ZIP"]] = data_jobs["State"].str.split(" ", n=1, expand=True)
data_jobs["ZIP"] = data_jobs["ZIP"].str.strip()
data_jobs[["ZIP", "Area"]] = data_jobs["ZIP"].str.split(" ", n=1, expand=True)

# Finalize clean jobs dataframes
# data_jobs

In [45]:
# Read in rent csv file
rent = pd.read_csv("City_MedianRentalPrice_1Bedroom.csv")

# Pare the dataframe down to relevant columns and rename them if necessary
rent_columns = ["RegionName", "State", "Metro", "CountyName", "SizeRank", "2018-11"]
rent = rent[rent_columns]
rent.rename(columns = {"RegionName" : "City", "CountyName" : "County"}, inplace = True)

# Split Metro into city columns
rent["City1"] = ""
rent["City2"] = ""
rent["City3"] = ""
rent[["City1", "City2", "City3"]] = rent["Metro"].str.split("-", n=2, expand = True)

# Finalize clean rent file
# rent

In [59]:
# Read in salary csv file
salary = pd.read_csv("MSA_M2017_dl.csv")

# Pare the dataframe down to relevant columns and rename them if necessary
salary_columns = ["PRIM_STATE", "AREA_NAME", "OCC_TITLE", "TOT_EMP", "EMP_PRSE", "JOBS_1000", "H_MEDIAN", "A_MEDIAN"]
salary = salary[salary_columns]
salary.rename(columns = {"PRIM_STATE" : "State", 
                         "AREA_NAME" : "City", 
                         "OCC_TITLE" : "Occupation", 
                         "TOT_EMP" : "Estimated Total Employment", 
                         "EMP_PRSE" : "Employment Percent RSE",
                         "JOBS_1000" : "Occupation per 1000", 
                         "H_MEDIAN" : "Hourly Median Wage", 
                         "A_MEDIAN" : "Annual Median Salary"}, inplace = True)
salary = salary.loc[salary["Occupation"] == "All Occupations"]
salary["City1"] = ""
salary["City2"] = ""
salary[["City1", "City2"]] = rent["City"].str.split("-", n=2, expand = True)
salary[City_Proxy] =

,State,City,Occupation,Estimated Total Employment,Employment Percent RSE,Occupation per 1000,Hourly Median Wage,Annual Median Salary,City1,City2
0,AK,"Anchorage, AK",All Occupations,"173,420",1.3,1000.000,22.76,"47,340",New York,None
463,AK,"Fairbanks, AK",All Occupations,"36,650",2.7,1000.000,23.15,"48,150",Fountain Valley,None
685,AL,"Anniston-Oxford-Jacksonville, AL",All Occupations,"43,110",2.2,1000.000,14.79,"30,760",NaN,NaN
904,AL,"Auburn-Opelika, AL",All Occupations,"56,410",1.8,1000.000,14.13,"29,400",NaN,NaN
1123,AL,"Birmingham-Hoover, AL",All Occupations,"504,290",0.6,1000.000,17.41,"36,220",NaN,NaN
1671,AL,"Daphne-Fairhope-Foley, AL",All Occupations,"71,190",1.8,1000.000,13.57,"28,230",NaN,NaN
1938,AL,"Decatur, AL",All Occupations,"52,310",2.0,1000.000,15.09,"31,380",NaN,NaN
2173,AL,"Dothan, AL",All Occupations,"56,400",1.4,1000.000,14.10,"29,320",NaN,NaN
2411,AL,"Florence-Muscle Shoals, AL",All Occupations,"53,450",2.9,1000.000,14.36,"29,870",NaN,NaN
2651,AL,"Gadsden, AL",All Occupations,"35,630",3.6,1000.000,12.87,"26,760",NaN,NaN
2817,AL,"Huntsville, AL",All Occupations,"222,080",1.3,1000.000,18.62,"38,720",NaN,NaN
3237,AL,"Mobile, AL",All Occupations,"172,750",1.3,1000.000,16.67,"34,680",NaN,NaN
3647,AL,"Montgomery, AL",All Occupations,"164,610",1.8,1000.000,15.66,"32,560",NaN,NaN
4057,AL,"Tuscaloosa, AL",All Occupations,"100,100",1.7,1000.000,15.74,"32,740",NaN,NaN
4393,AR,"Fayetteville-Springdale-Rogers, AR-MO",All Occupations,"239,920",2.5,1000.000,16.11,"33,510",NaN,NaN
4840,AR,"Fort Smith, AR-OK",All Occupations,"107,840",2.7,1000.000,13.64,"28,360",NaN,NaN
5188,AR,"Hot Springs, AR",All Occupations,"35,400",3.4,1000.000,12.94,"26,910",NaN,NaN
5381,AR,"Jonesboro, AR",All Occupations,"54,890",3.1,1000.000,13.88,"28,870",NaN,NaN
5639,AR,"Little Rock-North Little Rock-Conway, AR",All Occupations,"347,590",1.1,1000.000,16.38,"34,070",NaN,NaN
6166,AR,"Pine Bluff, AR",All Occupations,"30,960",2.3,1000.000,14.87,"30,920",NaN,NaN
6328,AZ,"Flagstaff, AZ",All Occupations,"60,810",4.6,1000.000,15.61,"32,470",NaN,NaN
6603,AZ,"Lake Havasu City-Kingman, AZ",All Occupations,"47,430",2.2,1000.000,14.40,"29,950",NaN,NaN
6843,AZ,"Phoenix-Mesa-Scottsdale, AZ",All Occupations,"1,980,010",0.6,1000.000,17.92,"37,280",NaN,NaN
7528,AZ,"Prescott, AZ",All Occupations,"61,560",3.4,1000.000,15.63,"32,500",NaN,NaN
7821,AZ,"Sierra Vista-Douglas, AZ",All Occupations,"32,000",2.6,1000.000,17.56,"36,520",NaN,NaN
8035,AZ,"Tucson, AZ",All Occupations,"364,930",1.4,1000.000,16.66,"34,650",NaN,NaN
8556,AZ,"Yuma, AZ",All Occupations,"60,430",3.2,1000.000,13.79,"28,690",NaN,NaN
8813,CA,"Anaheim-Santa Ana-Irvine, CA Metropolitan Divi...",All Occupations,"1,616,210",0.4,1000.000,19.39,"40,340",NaN,NaN
9462,CA,"Bakersfield, CA",All Occupations,"303,620",1.0,1000.000,16.32,"33,940",NaN,NaN
9944,CA,"Chico, CA",All Occupations,"80,110",4.8,1000.000,16.36,"34,020",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
146725,WA,"Longview, WA",All Occupations,"37,100",4.7,1000.000,18.70,"38,890",NaN,NaN
146926,WA,"Mount Vernon-Anacortes, WA",All Occupations,"46,650",2.5,1000.000,18.90,"39,310",NaN,NaN
147183,WA,"Olympia-Tumwater, WA",All Occupations,"109,400",2.7,1000.000,20.74,"43,140",NaN,NaN
147528,WA,"Seattle-Bellevue-Everett, WA Metropolitan Divi...",All Occupations,"1,647,350",1.3,1000.000,24.30,"50,550",NaN,NaN
148233,WA,"Spokane-Spokane Valley, WA",All Occupations,"232,920",2.4,1000.000,18.03,"37,500",NaN,NaN
148716,WA,"Tacoma-Lakewood, WA Metropolitan Division",All Occupations,"296,810",1.1,1000.000,19.79,"41,150",NaN,NaN
149206,WA,"Walla Walla, WA",All Occupations,"25,260",5.2,1000.000,18.65,"38,780",NaN,NaN
149382,WA,"Wenatchee, WA",All Occupations,"45,710",2.7,1000.000,16.77,"34,890",NaN,NaN
149612,WA,"Yakima, WA",All Occupations,"89,640",2.7,1000.000,16.75,"34,850",NaN,NaN
149934,WI,"Appleton, WI",All Occupations,"123,460",2.2,1000.000,17.86,"37,160",NaN,NaN
150303,WI,"Eau Claire, WI",All Occupations,"81,980",2.6,1000.000,16.64,"34,610",NaN,NaN
150628,WI,"Fond du Lac, WI",All Occupations,"45,600",5.9,1000.000,18.32,"38,110",NaN,NaN
150860,WI,"Green Bay, WI",All Occupations,"173,030",2.3,1000.000,17.66,"36,740",NaN,NaN
151291,WI,"Janesville-Beloit, WI",All Occupations,"64,560",2.8,1000.000,16.98,"35,310",NaN,NaN
151581,WI,"La Crosse-Onalaska, WI-MN",All Occupations,"73,800",2.0,1000.000,17.05,"35,460",NaN,NaN
151876,WI,"Madison, WI",All Occupations,"387,300",2.3,1000.000,20.03,"41,670",NaN,NaN
152428,WI,"Milwaukee-Waukesha-West Allis, WI",All Occupations,"841,550",0.6,1000.000,18.59,"38,670",NaN,NaN
153050,WI,"Oshkosh-Neenah, WI",All Occupations,"95,240",2.6,1000.000,18.33,"38,140",NaN,NaN
153372,WI,"Racine, WI",All Occupations,"74,850",2.2,1000.000,16.67,"34,670",NaN,NaN
153647,WI,"Sheboygan, WI",All Occupations,"57,980",3.5,1000.000,18.53,"38,550",NaN,NaN
153905,WI,"Wausau, WI",All Occupations,"70,020",4.1,1000.000,17.54,"36,480",NaN,NaN
154194,WV,"Beckley, WV",All Occupations,"42,670",2.8,1000.000,14.02,"29,150",NaN,NaN
154400,WV,"Charleston, WV",All Occupations,"111,090",1.6,1000.000,16.29,"33,880",NaN,NaN
154771,WV,"Huntington-Ashland, WV-KY-OH",All Occupations,"130,770",3.0,1000.000,15.26,"31,740",NaN,NaN
155166,WV,"Morgantown, WV",All Occupations,"64,520",1.7,1000.000,17.54,"36,490",NaN,NaN
155434,WV,"Parkersburg-Vienna, WV",All Occupations,"37,160",4.1,1000.000,14.30,"29,750",NaN,NaN
155624,WV,"Weirton-Steubenville, WV-OH",All Occupations,"37,250",4.6,1000.000,14.32,"29,780",NaN,NaN
155837,WV,"Wheeling, WV-OH",All Occupations,"61,310",2.9,1000.000,14.73,"30,640",NaN,NaN
156122,WY,"Casper, WY",All Occupations,"37,590",1.3,1000.000,18.93,"39,380",NaN,NaN
156334,WY,"Cheyenne, WY",All Occupations,"45,310",1.4,1000.000,18.46,"38,390",NaN,NaN

In [ ]:
# Read in crime csv file